<div class="container-fluid p-5">
    <h1 class="text-center mb-4">Easy Ordering Steps</h1>
    <div class="row g-4">

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="step-box text-center">
                <h5 class="step-number">Step 1</h5>
                <h6 class="step-title">Choose Cake</h6>
                <p>Select your favorite cake from our Bestsellers or Categories.</p>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="step-box text-center">
                <h5 class="step-number">Step 2</h5>
                <h6 class="step-title">Add Your Details</h6>
                <p>Enter your Name, Delivery Address, Date and preferred Time.</p>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="step-box text-center">
                <h5 class="step-number">Step 3</h5>
                <h6 class="step-title">Place Order</h6>
                <p>Click on the “Place Order” button to View and Confirm your Order.</p>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
            <div class="step-box text-center">
                <h5 class="step-number">Step 4 </h5>
                <h6 class="step-title">Receipt & Payment</h6>
                <p>Download your receipt instantly to proceed for Payment Page.</p>
            </div>
        </div>
    </div>
</div>