.container-fluid{
  background-color: #e8e2c1;;
}

.services-icon-wap {
  border-radius: 1.4rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.services-icon-wap:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.services-icon-wap .h2 i {
  cursor: pointer;
}




