.navbar{
background-color: #a47551;
}

.img-fluid {
  width: 4.375rem;
  border-radius: 15px;
}

.navbar-toggler {
  background-color: darkturquoise !important;
  border: 3px solid white;
}

.nav-link {
  color: #ffffff !important;
  cursor: pointer;
}


.active {
  color: #8490ff !important;
}

.btn span {
  font-weight: bold;
  font-size: 0.95rem;
}

.btn i {
  font-size: 1rem;
}