.logo {
  width: 4.375rem;
}

.nav-link {
  color: #ffffff !important;
  cursor: pointer;
}

.navbar-toggler{
  background-color: darkturquoise!important;
  border: 3px solid white;
}

.active {
  color: #8490ff !important;
}

.btn span {
  font-weight: bold;
  font-size: 0.95rem;
}

.btn i {
  font-size: 1rem;
}