<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid p-3">
    <div class="navbar-brand d-flex align-items-center gap-2">
      <img src="BakeHub Logo.png" alt="Cake Image" class="logo img-fluid">
    </div>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
      aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggle">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/ordercake" routerLinkActive="active">Order Cake</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/trackorder" routerLinkActive="active">Track Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/makepayment" routerLinkActive="active">Make Payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold mb-3" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>

      <div class="d-flex flex-column flex-lg-row gap-2">
        <a href="/login" class="btn btn-outline-light d-flex align-items-center gap-2 fw-bold">
          <i class="fa-solid fa-right-to-bracket"></i>
          <span>Login</span>
        </a>
        <a href="/signup" class="btn btn-outline-primary d-flex align-items-center gap-2 fw-bold">
          <i class="fa-solid fa-user-plus"></i>
          <span>Signup</span>
        </a>
      </div>
    </div>
  </div>
</nav>
