.logo {
  width: 70px;
}

.nav-link {
  color: #ffffff !important;
  cursor: pointer;
}

.active {
  color: #8490ff !important;
}

.btn span {
  font-weight: bold;
  font-size: 0.95rem;
}

.btn i {
  font-size: 1rem;
}