<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid p-3">
    <div class="navbar-brand d-flex align-items-center gap-2">
      <img src="BakeHub Logo.png" class="img-fluid" alt="Cake Image">
    </div>

    <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
      aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggle">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/home" routerLinkActive="active">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/ordercake" routerLinkActive="active">Order Cake</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/makepayment" routerLinkActive="active">Make Payment</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/trackorder" routerLinkActive="active">Track Order</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bold mb-3" routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>