.container-fluid {
  background-color: rgb(232, 226, 193);
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card{
   background-color: rgb(232, 226, 193);
   border:1px solid black; 
}

.form-label {
  font-weight: 600;
  color: #333;
}

.btn:hover {
  border: 0.125rem solid #030b17;
}


