.container-fluid{
  background-color: #fff;
}

.card {
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-4px);
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #674c56;
  border-radius: 50%;
}
