.container-fluid {
    padding: 1rem;
    background-color: rgb(232, 226, 193);
}

.accordion-button {
    font-weight: bold;
    font-size: 1rem;
}

.accordion-body {
    font-size: 0.95rem;
}


.search-btn:hover {
    border: 2px solid #030b17;
}

