.container-fluid {
  background-color: rgb(232, 226, 193);
  margin: 0 !important;
  padding: 0 1rem !important;
}

.card {
  background-color: rgb(232, 226, 193);
  border-radius: 12px;
}

.btn:hover {
  border: 0.125rem solid #030b17;
}



