.footer a {
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #acff07 !important;
}

.footer i {
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer i:hover {
  color: #34e7f8;
}

.btn-primary:hover {
  background-color: rgb(95, 79, 116);
}

.btn-secondary:hover {
  background-color: rgb(101, 115, 236);
}

select {
  background-color: #212529;
  color: #fff;
  border-color: #555;
}


.quick-links a:hover {
  color: #0883ff !important; 
}

.policies a:hover {
  color: #ff9742 !important; 
}

.contact-info i:hover {
  color: #0ff197 !important; 
  cursor:pointer;
}

.social-links .fab:hover {
  color: #af69ff !important;
}
