<div class="container-fluid bg-dark text-white pt-5 pb-4 footer">
    <div class="row px-4">

        <div class="col-12 col-md-3 mb-4">
            <h4>Delight in Every Slice</h4>
            <p class="mt-3">
                BakeHub is committed to making celebrations sweeter by providing a seamless platform to browse,
                customize, order, and manage cakes online ensuring timely delivery, easy tracking, and delightful
                customer experiences for every occasion.
            </p>
            <p><strong> <i class="fa-solid fa-clock me-1"></i> Time:</strong> Mon - Sat: 9Am to 6Pm</p>
        </div>

        <div class="col-12 col-md-3 mb-4 quick-links">
            <h4>Quick Links</h4>
            <ul class="list-unstyled mt-3 fw-semibold">
                <li><a href="/home" class="text-white text-decoration-none">Home</a></li>
                <li><a href="/ordercake" class="text-white text-decoration-none">Order Cake</a></li>
                <li><a href="/makepayment" class="text-white text-decoration-none">Make Payment</a></li>
                <li><a href="/trackorder" class="text-white text-decoration-none">Track Order</a></li>
                <li><a href="/contact" class="text-white text-decoration-none">Contact Us</a></li>
            </ul>
        </div>

        <div class="col-12 col-md-3 mb-4 policies">
            <h4>Policies</h4>
            <ul class="list-unstyled mt-3 fw-semibold">
                <li><a href="/about" class="text-white text-decoration-none">About Us</a></li>
                <li><a href="/termsandconditions" class="text-white text-decoration-none">Terms & Conditions</a></li>
                <li><a href="/returnandrefund" class="text-white text-decoration-none">Return & Refunds</a></li>
                <li><a href="/shippinganddelivery" class="text-white text-decoration-none">Shipping & Delivery</a></li>
                <li><a href="/privacypolicy" class="text-white text-decoration-none">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="col-12 col-md-3 mb-4 contact-info">
            <h4>Contact Info</h4>
            <p class="mt-3"><i class="fas fa-location-dot me-2 fw-bold"></i>11 Aberdeen Street, Boston MA, USA 02215</p>
            <p><i class="fas fa-envelope me-2 fw-bold"></i>contact&#64;bakehub.in</p>
            <p><i class="fas fa-phone me-2 fw-bold"></i>+91 98765 43210</p>
        </div>

    </div>

    <hr class="border-secondary my-4">

    <div class="row text-center">
        <div class="col-12 mb-2 social-links">
            <h3>BakeHub</h3>
            <p class="mb-1">Let us be social</p>
            <div class="d-flex justify-content-center gap-3 fs-4 mt-2">
                <i class="fab fa-facebook cursor-pointer"></i>
                <i class="fab fa-twitter cursor-pointer"></i>
                <i class="fab fa-youtube cursor-pointer"></i>
                <i class="fab fa-square-instagram cursor-pointer"></i>
            </div>
        </div>
        <div class="col-12 mt-3">
            <h6>© 2025 BakeHub. All Rights Reserved.</h6>
        </div>
    </div>

    <div class="text-end pe-4 mt-3">
        <a href="/home" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
            class="btn btn-outline-light rounded-circle">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>
</div>